//mq index para desktop
/*mq index para desktop*/
@media screen and (min-width:1024px){
    main .contenedor-padre{
        display: flex;
        text-align: center;
        justify-content:space-around;
        align-items: center;
        gap:0.5rem;
        figure {
            position: relative;
            cursor:pointer;
            overflow: hidden;  
            width:100%;
            height:100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
                transition: all 500ms ease-out;
            }
            .capa {
                position:absolute;
                border-radius: 8px;
                background-color: rgba(162, 184, 189, 0.349);
                opacity: 0;
                visibility: hidden;
                text-align: center;
                .titulo-servicio{
                   transition: all 500ms ease-out;
                }

                p{
                    font-size:20px; 
                }   
            }
        }

        figure:hover > .capa {
            opacity: 1;
            visibility: visible;
        }

        figure:hover > .capa h3 {
           margin-bottom: 15px;
        }

        figure:hover > img {
            transform: scale(1.3);
        }
    }
    
    .pie-pagina .grupo-uno{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 45px 0px; 
            .box figure img{
                width: 250px;
            }
    }

}

// desktop
/* mq desktop propuestas*/ 

@media screen and (min-width:1024px){
    body main .tarjeta-padre{
        grid-template-columns:repeat(4,1fr); 
        grid-template-rows: 1fr;
        justify-content:space-around;
    }
}

// mq desktop planes disponibles
/* mq desktop planes disponibles*/ 
@media screen and (min-width:1024px){
    main {
        .texto-flotante {
            position: absolute;
            top:270px;
            width: 400px;
            left:20px;
            padding: 10px;
            font-size: 50px;
        }

    }
}

//mq-desktop clases y horarios
/* mq-desktop clases y horarios*/
@media screen and (min-width:1024px){
    main .caja-clases {
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows: 1fr;
    }    

}


//mq desktop para contacto  
/* mq desktop para contacto*/

@media screen and (min-width:1024px){
    main .contacto-contenedor .box-contacto iframe {
        max-width: 300px;
        max-height: 250px;
    }
}