@charset "UTF-8";
/*estilos para el dindex*/
body main {
  background-color: black;
  color: whitesmoke;
  align-items: center; }
  body main .carousel-inner .d-item {
    height: 400px; }
  body main .carousel-inner .d-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6); }
  body main .nuestros-servicios {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    background-color: rgba(162, 184, 189, 0.349); }
  body main .contenedor-padre {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 33%);
    margin: 2rem 1rem 0rem 1rem;
    padding: 1rem 1rem 3rem 1rem;
    text-align: center; }
    body main .contenedor-padre .contenedor figure {
      position: relative;
      cursor: pointer;
      overflow: hidden;
      height: 375px; }
      body main .contenedor-padre .contenedor figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        transition: all 500ms ease-out; }
      body main .contenedor-padre .contenedor figure .capa {
        position: absolute;
        border-radius: 8px;
        top: 0;
        width: 100%;
        height: 100%; }
      body main .contenedor-padre .contenedor figure h3 {
        font-family: 'Roboto', sans-serif;
        font-family: 'Rubik', sans-serif;
        font-size: 2.5rem;
        align-items: center;
        margin-top: 6rem; }
      body main .contenedor-padre .contenedor figure p {
        font-size: 20px;
        color: black;
        background-color: rgba(194, 205, 207, 0.432); }

footer {
  width: 100%;
  background-color: black; }
  footer .grupo-uno {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
    text-align: center; }
    footer .grupo-uno .box figure {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px; }
      footer .grupo-uno .box figure a img {
        width: 200px; }
    footer .grupo-uno .box h2 {
      color: #FEC737;
      margin-bottom: 25px; }
    footer .grupo-uno .box p {
      margin-bottom: 20px;
      color: white; }
    footer .grupo-uno .box .red-social a {
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: #2C3860;
      margin-left: 10px;
      text-align: center; }
    footer .grupo-uno .box .red-social a:hover {
      color: #FEC737; }
  footer .grupo-dos {
    padding: 15px 10px;
    text-align: center; }

/*estilos para sección nuestras propiestas */
body main .tarjeta-padre {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 20px;
  justify-items: center; }
  body main .tarjeta-padre main .tarjeta-hijo {
    text-align: center;
    margin: 6rem; }

/* estilos para planes disponibles */
body main .clases-explicacion, body main .contactate, body main .contacto-contenedor {
  margin: 10px 5px 5px 5px;
  text-align: center;
  padding: 0.8px;
  row-gap: 10px; }

body main .contacto-contenedor .box-contacto p {
  font-size: 20px;
  color: whitesmoke; }

body main .texto-flotante {
  margin: 10px;
  text-align: center; }

body main .padre-imagen {
  display: none; }

body main .tarjeta-padre .tarjeta-hijo .card .card-body a {
  background-color: #2C3860;
  color: white;
  border: #FEC737; }

body main .tarjeta-padre .tarjeta-hijo .card .card-body a:hover {
  background-color: #2C3860;
  color: #FEC737;
  border: #FEC737; }

/* estilos par clases y horarios */
body main {
  display: grid;
  grid-template-columns: 1 fr;
  grid-template-rows: 1fr; }
  body main .clases-horarios {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 20px; }
    body main .clases-horarios img {
      width: 100%;
      height: 100%;
      max-width: 700px;
      max-height: 700px; }

/* estilos para contacto */
body main .clases-explicacion, body main .contactate, body main .contacto-contenedor {
  margin: 10px 5px 5px 5px;
  text-align: center;
  padding: 0.8px;
  row-gap: 10px; }

body main .contacto-contenedor .box-contacto p {
  font-size: 20px;
  color: whitesmoke; }

body main .contactate {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; }
  body main .contactate h3 {
    margin: 1rem 1rem 1rem 1rem; }
  body main .contactate fieldset {
    margin-left: 1rem;
    max-width: 500px; }
    body main .contactate fieldset .formulario-item {
      margin: 3px;
      text-align: left; }
  body main .contactate .consulta {
    width: 80%;
    max-width: 500px;
    height: 250px; }

body main .contacto-contenedor h2 {
  color: #FEC737; }

body main .contacto-contenedor .box-contacto iframe {
  max-width: 300px;
  max-height: 250px; }

/*media queries para tablet*/
@media screen and (min-width: 600px) {
  body main .contenedor-padre figure .capa h3 {
    font-size: 2.5rem; } }

/*media queries index*/
@media screen and (min-width: 1024px) {
  body main .contenedor-padre {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem; }
    body main .contenedor-padre figure {
      position: relative;
      cursor: pointer;
      overflow: hidden;
      width: 100%;
      height: 100%; }
      body main .contenedor-padre figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        transition: all 500ms ease-out; }
      body main .contenedor-padre figure .capa {
        position: absolute;
        border-radius: 8px;
        background-color: rgba(162, 184, 189, 0.349);
        opacity: 0;
        visibility: hidden;
        text-align: center; }
        body main .contenedor-padre figure .capa .titulo-servicio {
          transition: all 500ms ease-out; }
        body main .contenedor-padre figure .capa p {
          font-size: 20px; }
    body main .contenedor-padre figure:hover > .capa {
      opacity: 1;
      visibility: visible; }
    body main .contenedor-padre figure:hover > .capa h3 {
      margin-bottom: 15px; }
    body main .contenedor-padre figure:hover > img {
      transform: scale(1.3); }
  .pie-pagina .grupo-uno {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 45px 0px; }
    .pie-pagina .grupo-uno .box figure img {
      width: 250px; } }

/* mq tablet propuestas */
@media screen and (min-width: 600px) {
  body main .tarjeta-padre {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); } }

/* mq desktop propuestas*/
@media screen and (min-width: 1024px) {
  body main .tarjeta-padre {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-around; } }

/*mq tablet planes disponibles */
@media screen and (min-width: 600px) {
  body main .padre-imagen {
    display: flex; }
    body main .padre-imagen img {
      width: 100%;
      height: 100%; } }

/* mq desktop planes disponibles*/
@media screen and (min-width: 1024px) {
  body main .texto-flotante {
    position: absolute;
    top: 270px;
    width: 400px;
    left: 20px;
    padding: 10px;
    font-size: 50px; } }

/* mq para contacto tablet*/
@media screen and (min-width: 600px) {
  body main .contactate {
    grid-template-columns: 50% 50%;
    grid-template-rows: 90%; }
    body main .contactate .consultas-contenedor h3 {
      max-width: 700px; }
    body main .contactate .contacto-contenedor .box-contacto iframe {
      max-width: 250px;
      max-height: 200px; } }

@media screen and (min-width: 1024px) {
  body main .contactate .contacto-contenedor .box-contacto iframe {
    max-width: 700px;
    max-height: 500px; } }

body main .clases-explicacion, body main .contactate, body main .contacto-contenedor {
  margin: 10px 5px 5px 5px;
  text-align: center;
  padding: 0.8px;
  row-gap: 10px; }

body main .contacto-contenedor .box-contacto p {
  font-size: 20px;
  color: whitesmoke; }

/*mq tablet clases y horarios */
@media screen and (min-width: 600px) {
  body main .caja-clases {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr; }
    body main .caja-clases .clases-explicacion {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      align-items: center;
      padding: 10px; }
      body main .caja-clases .clases-explicacion h2:hover {
        color: #FEC737;
        transition: all 500ms ease-out; } }

@media screen and (min-width: 1024px) {
  body main .caja-clases {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr; } }

body main .clases-explicacion, body main .contactate, body main .contacto-contenedor {
  margin: 10px 5px 5px 5px;
  text-align: center;
  padding: 0.8px;
  row-gap: 10px; }

body main .contacto-contenedor .box-contacto p {
  font-size: 20px;
  color: whitesmoke; }
