//estilos para contacto 
/* estilos para contacto */
@import "../utilidades/variables";

main {
    .contactate {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        h3 {
         margin: 1rem 1rem 1rem 1rem;
        }

        fieldset {
            margin-left: 1rem;
            max-width: 500px;
            .formulario-item{
                margin: 3px;
                text-align: left;
                label {
                    font-size: 24px;
                }
                input {
                    width: 100%;
                }

            }
                .boton-formulario {
                    width: 200px;
                    text-align: center;
                }
        }
        .consulta {
            width: 80%;
            max-width: 500px;
            height: 250px;
        }
    }

    .contacto-contenedor {
        @extend %estilo-gral-phone;
        h2{
            color: $color-principal
        }
       
    }
    .contacto-contenedor .box-contacto {
        p {
        @extend %estilo-texto;
        }
        iframe{
            max-width: 300px;
            max-height: 250px;
        }
    }



}

